<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportingService2010Soap" />
                <binding name="ReportExecutionServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://t500oli:80/ReportServer_SQL2008R2/ReportService2010.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportingService2010Soap"
                contract="ReportingService2010.ReportingService2010Soap" name="ReportingService2010Soap" />
            <endpoint address="http://t500oli:80/ReportServer_SQL2008R2/ReportExecution2005.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap"
                contract="ReportExecution2005.ReportExecutionServiceSoap"
                name="ReportExecutionServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>