<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="myUserTraceSource" switchValue="All">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Users\Cé\AppData\Local\Error.svclog"/>
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<diagnostics performanceCounters="All" wmiProviderEnabled="True">
			<messageLogging logEntireMessage="True" logMalformedMessages="True" logMessagesAtServiceLevel="True" logMessagesAtTransportLevel="True" maxMessagesToLog="3000" maxSizeOfMessageToLog="30000"/>
		</diagnostics>
		<bindings/>
		<client/>
	</system.serviceModel>
	<startup/></configuration>
