<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nixxis.Client.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nixxis.Client.Admin.Properties.Settings>
            <setting name="NixxisAdminControls_SFS_SforceService" serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/u/29.0</value>
            </setting>
        </Nixxis.Client.Admin.Properties.Settings>
    </applicationSettings>
</configuration>